/* Write your CSS here */
.suggestion-container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  list-style-type: none;
}

.suggestion {
  font-family: 'Roboto';
  color: #475569;
  font-size: 12px;
}

.icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
  outline: none;
}
